---
layout: default
pagination:
  enabled: true
---

<div class="home">
  {% assign posts = paginator.posts %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if paginator.total_pages > 1 %}
      <div style="display: flex; justify-content: space-between; align-items: center;">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
            {% if paginator.previous_page %}
            <span style="cursor: pointer; font-size: 24px;">&#8592; ย้อนกลับ</span>
            {% endif %}
          </a>
          <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">
            {% if paginator.next_page_path %}
            <span style="cursor: pointer; font-size: 24px;">ถัดไป &#8594;</span>
            {% endif %}
          </a>
      </div>
    {% endif %}

  {%- endif -%}

</div>
