front-end-url:443 {
  proxy / backend-url-1:80 backend-url-2:80 backend-url-3:80 {
    policy round_robin
    header_upstream Host {host}
    header_upstream X-Real-IP {remote}
    header_upstream X-Forwarded-For {remote}
    header_upstream X-Forwarded-Proto {scheme}
  }

  gzip

  tls {
   dns digitalocean
  }
}
