---
layout: page
description: "Usability comes first."
header-img: "images/home.jpg"
cc: All contents in this blog
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
    </a>
        <p class="post-meta" style="color:#5bc0de;margin: 5px 0;">{{ post.date | date_to_rfc822 }}</p>
        {% if post.description %}
        <p class="post-subtitle" style="margin: 0;">
            {{ post.description }}
        </p>
        {% endif %}

    {% for category in post.categories %}
      <span class="label label-info" style="margin-right: 5px;"> {{category}} </span>
    {% endfor %}


</div>
&nbsp
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

{% include disqus_count.html %}
