<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
<meta property="og:type" content="article"/>
<meta property="og:image" content="https://wittawasw.com/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}"/>
<meta property="og:url" content="{{ page.url | prepend: site.url }}"/>

<meta property="og:site_name" content="{{ site.title }}"/>
<meta property="og:description" content="{{ page.description }}"/>

<meta property="article:author" content="https://www.facebook.com/wittawasw" />

<meta name="author" content="Wittawas Wisarnkanchana"/>
<meta name="description" content="{{ page.description }}"/>
