<meta content="Title" property="og:title" content="{{ page.title  }}">
<meta content="Type" property="og:type" content="article">
<meta content="Image" property="og:image" content="{{ site.url }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}">
<meta content="URL" property="og:url" content="{{ page.url | prepend: site.url }}">

<meta content="Site Name" property="og:site_name" content="{{ site.title }}">
<meta content="Description" property="og:description" content="{{ page.description }}">